.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.analytics-css{
  border:1px solid black;
  position: relative;
  width: 1200px;
  height: 650px;
}

#brand-name{
  font-size: 2.25rem;
}

details-menu-color{
  color: white !important;
}

.detail-menu{
  font-size: 1.75rem;
}

#oracle-dv-cca-project-internal-1 {
width: 100%;
height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
